<!DOCTYPE html>
<html lang="ka" ng-app="momentumApp">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Momentum Tasks</title>
  <link rel="stylesheet" href="styles.css">

  <!-- AngularJS and ngRoute -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>

  <!-- Custom Scripts -->
  <script src="app.js"></script>
  <script src="services.js"></script>
  <script src="controllers.js"></script>
</head>

<body ng-controller="TaskController">
  <header>
    <div class="logo">
      <img src="assets/Logo.png" alt="Momentum Logo" ng-click="goToHome()">
    </div>
    <div class="header-buttons">
      <button class="create-employee" ng-click="openEmployeeModal()">თანამშრომლის შექმნა</button>

      <button class="create-task" ng-click="goToCreateTask()">+ შექმენი ახალი დავალება</button>
    </div>
  </header>

  <!-- This is where tasks.html and task-creation.html will be loaded -->
  <div ng-view></div>

  <!-- Employee Modal -->
  <div class="employee-modal" ng-show="isEmployeeModalOpen">
    <div class="employee-modal-container">
      <div class="employee-modal-content">
        <button class="close-modal" ng-click="closeEmployeeModal()">×</button>
        <h2 class="modal-title">თანამშრომლის დამატება</h2>

        <div class="nameSurField">
          <div class="field-group">
            <label for="firstName">სახელი*</label>
            <input type="text" id="firstName" ng-model="newEmployee.firstName" required>
            <p>მინიმუმ 2 სიმბოლო</p>
          </div>


          <div class="field-group">
            <label for="lastName">გვარი*</label>
            <input type="text" id="lastName" ng-model="newEmployee.lastName" required>
            <p>მინიმუმ 2 სიმბოლო</p>
          </div>
        </div>

        <div class="field-group">
          <label>ავატარი*</label>
          <div class="profile-upload" ng-click="triggerFileInput()">
            <!-- ✅ Show uploaded image OR default text -->
            <img ng-if="newEmployee.avatar" ng-src="{{ newEmployee.avatar }}" class="profile-preview">
            <span ng-if="!newEmployee.avatar" class="upload-text">Upload Image</span>

            <!-- ✅ Hidden file input -->
            <input type="file" id="avatarUpload" accept="image/*"
              onchange="angular.element(this).scope().uploadAvatar(this)" hidden>
          </div>
          <p class="error-text" ng-show="avatarError">{{ avatarError }}</p>
        </div>


        <div class="field-group">
          <label for="department">დეპარტამენტი*</label>
          <select id="department" ng-model="newEmployee.department" ng-options="dept.name for dept in departments">
            <option value="">აირჩიეთ დეპარტამენტი</option>
          </select>
        </div>

        <div class="employeeModal-footer">
          <button class="cancel-button" ng-click="closeEmployeeModal()">გაუქმება</button>
          <button class="submit-button" ng-click="saveEmployee()">დაამატე თანამშრომელი</button>
        </div>
      </div>
    </div>
  </div>

</body>

</html>